{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <head>
    <title>Sunny With a Chance of Bops</title>
    <link rel="stylesheet" href="{% static styles.css %}" type="text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <center>
      
  <body style = "background-image: url(/static/weather.jpg); background-size: 100%">
      
    <h1>Sunny With a Chance of Bops</h1>
    <br />
    <div class ="row-5">
        <div class="col-5">
          <form method="post">
              {% csrf_token %}
            {{ form.zipcode | as_crispy_field }}
            <button type="submit" class="btn btn-dark">
                Submit
              </button>
          </form>
          <form action="{% url 'homeSong' %}">
              <button type ="submit" class="btn btn-secondary" style="display: inline">
                  Songs
                </button>
                </form>
          
        </div>
      </div>
    
    <br />
    <br />
    <br />
    Enter a ZIP Code to find a weather based playlist!
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </center>

{% endblock %}