{% block body %}
  <head>
    <title>Sunny With a Chance of Bops</title>
  </head>

  <center>
  <body style="background-color:powderblue;font-family:verdana">
    <h1>Sunny With a Chance of Bops</h1>
    <br />
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">
        Submit
      </button>
    </form>
    <br />
    <br />
    <br />
    <iframe src="https://open.spotify.com/embed/user/125001372/playlist/4kIXGUdLiKqDnyPKHjtGy4" width="400" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </body>
  </center>

  {% endblock %}
